input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.general-info {
  display: flex;
  flex-direction: column;
  border-top: 10px solid #404040;
  border-bottom: 2px solid #a9a9a9;
  padding: 25px 5px;
  max-width: 90%;
  margin: 50px auto 5px;
}

.general-info * {
  margin-bottom: 10px;
  max-width: 50%;
  max-width: 20%;
  padding: 1px 7px;
  border: 1px dotted blue;
  background-color: white;
  outline: none;
}

input[type='text']::placeholder {
  font-size: 40px;
}

.general-info input[type='text'] {
  font-size: 40px;
  font-weight: 800;
}

input[type='number']::placeholder,
input[type='email']::placeholder {
  font-size: 16px;
}

input[type='number'],
input[type='email'] {
  font-size: 16px;
  color: #505050;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
